/* Estilos generales */
* {
  box-sizing: border-box;
}
#avisoCookies {
  display: none;
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #333;
  color: #fff;
  text-align: center;
  padding: 10px;
}
