/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

section {
    padding: 20px;
}

/* Estilos para el contenedor principal */
#intro, #servicios-destacados {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

/* Estilos para los servicios destacados */
.servicio {
    flex-basis: calc(33.33% - 20px);
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
}

.servicio h3 {
    font-size: 1.2em;
    margin: 10px 0;
}

.servicio img {
    max-width: 100%;
}

.servicio a {
    display: block;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    padding: 5px 10px;
    margin-top: 10px;
}

.servicio a:hover {
    background-color: #555;
}

/* Estilos para el pie de página */
#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

/* Estilos para enlaces */
a {
    color: #007BFF;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
